name: Terraform Apply
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
defaults:
  run:
    working-directory: .

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::339712897740:role/github-actions-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: | 
          terraform init -input=false \
            -backend-config="bucket=maasheru" \
            -backend-config="key=eks2/github-actions/terraform.tfstate" \
            -backend-config="region=us-east-1"
            
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false
